<%- model_class = AssignRentalItem -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= RentalItem.human_attribute_name(:name_ja) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name_ja %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
            controller: 'assign_rental_items',
            action: 'item_list',
            item_id: item.id,
            :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
