<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">参加団体</h3>
  </div>
  <div class="panel-body">
    模擬店, 展示, ステージ企画などを希望する団体はこちら。
    <%= link_to t('welcome_controller.index'),
            groups_path,
            :class => 'btn btn-default' %><br>
    企画名の入力はこちら。
    <%= link_to "企画名 #{t('welcome_controller.index')}",
            group_project_names_path,
            :class => 'btn btn-default' %>
  </div>
</div>
