<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">使用電力</h3>
  </div>
  <div class="panel-body">
    電力を使用する団体はこちらから申請して下さい。<br>
    対象: 全ての参加形式
    <%= link_to t('welcome_controller.index'),
            power_orders_path,
            :class => 'btn btn-default' %>
  </div>
</div>
