<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">実施場所</h3>
  </div>
  <div class="panel-body">
    模擬店，体験・展示等を行う団体はこちらから申請して下さい。<br>
    対象: 参加形式が「模擬店(食品販売，物品販売)」，「展示・体験」，「その他」の団体
    <%= link_to t('welcome_controller.index'),
            place_orders_path,
            :class => 'btn btn-default' %>
  </div>
</div>

